services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db

  backend:
    image: raghu593/dd-backend:latest
    container_name: backend
    restart: always
    depends_on:
      - mongo
    environment:
      - PORT=8080
      - MONGO_URI=mongodb://mongo:27017/dd_db
    ports:
      - "8080:8080"

  frontend:
    image: raghu593/dd-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "8081:80"

volumes:
  mongo_data:

